USE [master]
GO
/****** Object:  Database [BakkerijTestDb]    Script Date: 3/01/2026 12:05:22 ******/
CREATE DATABASE [BakkerijTestDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BakkerijTestDb', FILENAME = N'/var/opt/mssql/data/BakkerijTestDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BakkerijTestDb_log', FILENAME = N'/var/opt/mssql/data/BakkerijTestDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BakkerijTestDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BakkerijTestDb]
GO
/****** Object:  User [bakkerij_app_user]    Script Date: 3/01/2026 12:05:22 ******/
CREATE USER [bakkerij_app_user] FOR LOGIN [bakkerij_app_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Klanten]    Script Date: 3/01/2026 12:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klanten](
	[KlantId] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KlantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Naam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klantenkaarten]    Script Date: 3/01/2026 12:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klantenkaarten](
	[KlantenkaartNummer] [int] IDENTITY(1,1) NOT NULL,
	[KlantId] [int] NOT NULL,
	[AantalBroden] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KlantenkaartNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Klantenkaarten] ADD  DEFAULT ((0)) FOR [AantalBroden]
GO
ALTER TABLE [dbo].[Klantenkaarten]  WITH CHECK ADD  CONSTRAINT [FK_Klantenkaarten_Klanten] FOREIGN KEY([KlantId])
REFERENCES [dbo].[Klanten] ([KlantId])
GO
ALTER TABLE [dbo].[Klantenkaarten] CHECK CONSTRAINT [FK_Klantenkaarten_Klanten]
GO
USE [master]
GO
